.login {
  width: 80%;
  max-width: 500px;
  height: 300px;
  margin: 100px auto 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  animation-duration: .5s;
  animation-name: show;
}

.login button {
  width: 120px;
  margin: 0 auto;
}

.login .login-signup-search {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.login .login-signup-search span {
  color: maroon;
  font-size: 0.8em;
  font-weight: bold;
}

.login .login-signup-search span:hover {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .login {
    width: 100%;
  }
}


@media screen and (max-width: 479px) {
  .login {
    margin: 0 auto;
  }
}