.info {
  animation-duration: .5s;
  animation-name: show;
}

.info .user-info {
  max-width: 50vw;
  width: 100%;
  height: 30vh;
  margin: 0 auto;
  border: 1px solid gainsboro;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 10px;
  display: flex;
}

.info .user-info .user-info-left {
  width: 30%;
  border: 1px solid gainsboro;
  border-radius: 50%;
  padding: 10px;
}

.info .user-info .user-info-right {
  width: 70%;
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 10px;
}

.info .user-info .user-info-right .user-info-right-msg {
  height: 30%;
  padding: 10px 0;
}

.info .user-info .user-info-right .user-info-right-msg span {
  color: maroon;
  font-weight: bold;
}

.info .user-info .user-info-right .user-info-right-btn-list {
  height: 70%;
  display: flex;
  justify-content: space-evenly;
}

.info .user-info .user-info-right .user-info-right-btn-list .mypage-btn {
  min-width: 80px;
}

.info .search {
  margin-bottom: 30px;
}

.info .search .search-date {
  outline: transparent;
  text-align: center;
}

.info .search .mypage-btn {
  width: 50px;
  margin-left: 10px;
}

.info .order-list {
  max-width: 50vw;
  width: 100%;
  margin: 0 auto;
  border: 1px solid gainsboro;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 10px;
}

.info .order-list .order-date {
  display: inline-block;
  position: relative;
  top: -20px;
  background-color: rgb(244, 242, 236);
  font-size: 1.2em;
}

.info .order-list .order-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid gainsboro;
}

.info .order-list .order-info:last-child {
  border: none;
}

.info .order-list .order-info .order-info-left {
  width: 80%;
  display: flex;
  align-items: center;
}

.info .order-list .order-info .order-info-left .order-product-img {
  width: 20%;
}

.info .order-list .order-info .order-info-left .order-product-img img {
  width: 80%;
}

.info .order-list .order-info .order-info-left .order-product-name {
  width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.info .order-list .order-info .order-info-left .order-quantity {
  width: 10%;
}

.info .order-list .order-info .order-info-left .order-status {
  width: 20%;
}

.info .order-list .order-info .order-btn-list {
  width: 20%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.info .endline {
  max-width: 50vw;
  width: 100%;
  margin: 0 auto 10px auto;
}

@media screen and (max-width: 1023px) {
  .info .user-info {
    max-width: 80%;
  }

  .info .order-list {
    max-width: 80%;
  }

  .info .endline {
    max-width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .info .user-info {
    max-width: 100%;
    padding: 5px 5px 5px 0;
    height: 20vh;
  }

  .info .user-info .user-info-left {
    width: 20%;
    height: 80%;
    margin: auto 5px auto 0;
  }

  .info .user-info .user-info-right {
    width: 80%;
  }

  .info .search .search-date {
    font-size: 0.8em;
  }

  .info .order-list {
    max-width: 100%;
  }

  .info .order-list .order-info {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
  }

  .info .order-list .order-info .order-info-left {
    margin-bottom: 10px;
    width: 100%;
  }

  .info .order-list .order-info .order-info-left .order-status {
    font-size: 0.8em;
  }

  .info .order-list .order-info .order-info-left .order-product-img {
    min-width: 20vw;
  }

  .info .order-list .order-info .order-btn-list {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .info .order-list .order-info .order-btn-list .mypage-btn {
    width: 30%;
  }

  .info .endline {
    max-width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .info .user-info .user-info-right .user-info-right-btn-list .mypage-btn {
    min-width: 60px;
    font-size: 0.7em;
  }
}